.footer {
  position: relative;
  padding: 10% 0 0;
  overflow: hidden;
}

.footer__background--deco {
  position: absolute;
  bottom: 0;
  background-color: var(--secondary-background-color);
  height: 300px;
  width: 100%;
}

.footer__background {
  transform: skew(0deg, -5.55deg);
  transform-origin: top left;
  background-color: var(--secondary-background-color);
}

.footer__dots {
  position: relative;
  top: 20px;
  border-bottom: 10px dotted var(--primary-text-color);
}

.footer__container {
  transform-origin: top left;

  padding: 30px 60px 0;
}

.footer-nav__thumb {
  align-items: center;
  display: flex;
  gap: 60px;
}

.footer__content {
  width: 50%;
}

.footer__logo {
  margin-bottom: 30px;
}
.footer__info {
  margin-bottom: 30px;
}

.footer__social-list {
  display: flex;
}

.footer__social-item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 60px;
  }
}

.footer__social-icon {
  display: block;
  width: 24px;
  height: 24px;
  transition: fill var(--timing-function);
}

.footer__social-icon--fb {
  fill: #4267b2;
}

.footer__social-icon--twitter {
  fill: #1da1f2;
}

.footer__social-icon--flinkedin {
  fill: #0a66c2;
}

.footer__social-icon:hover {
  fill: var(--white-color);
}

.footer-nav__link {
  margin-bottom: 10px;
  color: var(--primary-text-color);

  transition: color var(--timing-function);

  &:hover {
    color: var(--accent-color);
  }
}
