.page-header {
  position: relative;
}

.bcg-thumb {
  background-color: var(--secondary-background-color);
  transform: skew(0deg, -5.55deg);
  transform-origin: top left;
  width: 100%;
  padding: 5% 0;
}

.main-nav {
  padding: 40px 0 20px;
  transform: skew(0deg, 5.55deg);
}

.site-nav {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav__link {
  white-space: nowrap;
  padding: 20px;
  color: var(--white-color);

  transition: color var(--timing-function);
}

.site-nav__link:hover {
  color: var(--accent-color);
}

.section-subtitle--mb0 {
  margin-bottom: 0;
}
