.help__section {
  padding-top: 30px;
  padding-bottom: calc(10% + 30px);
}

.help__info {
  text-align: center;
}

.help__description {
  margin-bottom: 90px;
}

.help__list {
  display: flex;
  justify-content: space-between;
}

.help__item {
  width: calc((100% - 90px) / 4);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.help__box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.help__subtitle {
  margin: 0;
}

.help__item:hover .help__illustration {
  transform: scale(1.1);
  transition: transform var(--timing-function);
}

@media screen and (max-width: 1023px) {
  .help__section {
    padding-bottom: calc(10% + 60px);
  }

  .help__description {
    margin-bottom: 60px;
  }

  .help__list {
    justify-content: center;
    gap: 60px 30px;
    flex-wrap: wrap;
  }

  .help__item {
    width: calc((100% - 90px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .help__item {
    width: 100%;
  }

  .help__list {
    gap: 60px 0;
  }

  .help__box {
    gap: 20px;
  }

  .help__illustration {
    width: 120px;
  }

  .help__description {
    margin-bottom: 30px;
  }
}
