.hero__section {
  padding: 30px 0 0px;
}

.hero__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;

  margin: 0 0 30px;
}

.hero__box {
  align-items: center;
  display: flex;
  margin-bottom: 90px;
}

.hero__content {
  margin-right: 60px;
}

.hero__text {
  margin-bottom: 90px;
}

.hero__image {
  filter: drop-shadow(25px 25px 15px rgba(0, 0, 0, 0.25));
  width: 50%;
}

.hero__buttons {
  display: flex;
  gap: 30px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  width: 25%;
}

.advantages__thumb {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;

  // transition: transform var(--timing-function);
}

.advantages__text {
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0;
}

.advantages__item:hover > .advantages__thumb {
  transform: scale(1.1);
  transition: transform var(--timing-function);
}
