.hero__section {
  position: relative;
  z-index: 1;
  padding: 30px 0 0px;
}

.hero__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;

  margin: 0 0 30px;
}

.hero__box {
  align-items: center;
  display: flex;
  margin-bottom: 90px;
  gap: 60px;
}

.hero__text {
  margin-bottom: 90px;
}

.hero__image {
  filter: drop-shadow(25px 25px 15px rgba(0, 0, 0, 0.25));
  width: 50%;
}

.hero__buttons {
  display: flex;
  gap: 30px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  width: 25%;
}

.advantages__thumb {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;

  // transition: transform var(--timing-function);
}

.advantages__text {
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0;
}

.advantages__item:hover > .advantages__thumb {
  transform: scale(1.1);
  transition: transform var(--timing-function);
}

@media screen and (max-width: 1023px) {
  .hero__box {
    flex-flow: column;
    margin-bottom: 60px;
  }

  .hero__buttons {
    justify-content: center;
  }

  .hero__text {
    margin-bottom: 45px;
  }

  .hero__image {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .hero__box {
    gap: 45px;
  }

  .hero__title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .hero__buttons {
    flex-wrap: wrap;
    gap: 15px;
  }

  .hero__image {
    width: 100%;
  }

  .advantages__list {
    flex-wrap: wrap;
    gap: 30px;
  }

  .advantages__item {
    width: calc(50% - 15px);
  }

  .advantages__thumb {
    margin: 0 0 30px;
    height: 120px;
  }

  .advantages__thumb img {
    width: 110px;
  }

  .advantages__thumb--size img {
    width: 140px;
  }
}
