.hero__section {
  padding: 60px 0 60px;
}

.hero__title {
  color: var(--accent-color);
  font-size: 40px;
  line-height: 49px;

  margin: 0 0 90px;
}

.hero__box {
  display: flex;
  margin-bottom: 120px;
}

.hero__text {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 1.5;

  margin-bottom: 140px;
  margin-right: 75px;
}

.primary-button--mr {
  margin-right: 30px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  width: 25%;
}

.advantages__thumb {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  // transition: transform var(--timing-function);
}

.advantages__text {
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
}

.advantages__item:hover > .advantages__thumb {
  transform: scale(1.1);
  transition: transform var(--timing-function);
}
