.plugins__section {
  position: relative;
}

.plugins__dots {
  transform-origin: top left;
  top: -30px;
  bottom: auto;
  border-bottom: 15px dotted var(--accent-color);
}

.plugins__dots--gradient {
  height: 15px;
  background: linear-gradient(
    to left,
    var(--primary-background-color) 25%,
    transparent
  );
}

.plugins__container {
  transform: skew(0deg, -5.55deg);
  transform-origin: top left;
}

.plugins__background {
  background-color: var(--secondary-background-color);
  padding: 5% 0;
}
