.process__section {
  position: relative;
  margin-top: 30px;
}

.bcg-thumb--process {
  transform-origin: top right;
  padding-bottom: 60px;
}

.process__dots {
  top: -30px;
  bottom: auto;
  border-bottom: 13px dotted var(--accent-color);
  transform-origin: top right;
}

.process__dots--gradient {
  margin-top: -3px;
  height: 20px;
  background: linear-gradient(
    to right,
    var(--primary-background-color) 10%,
    transparent
  );
}

.process__container {
  transform: skew(0deg, 5.55deg);
}

.process__title {
  margin-bottom: 60px;
}

.process__list {
  display: flex;
  justify-content: center;
}

.process__item {
  transform: skew(0deg, 5.55deg);
  width: calc(100% / 3);
  padding: 0 30px;
}

.process__index {
  display: block;
  font-size: 22px;
  font-weight: 600;

  background-color: var(--white-color);
  color: var(--secondary-background-color);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
}

.process__dots--box {
  padding-left: 16%;
}

.process__dots--white {
  transform: rotate(-5.55deg);
  position: relative;
  top: 24px;
  border-bottom: 8px dotted var(--primary-text-color);
}

.process__dots-gradient {
  position: absolute;
  height: 20px;
  margin-top: -5px;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--secondary-background-color) 16%,
    transparent 16%,
    transparent 84%,
    var(--secondary-background-color) 84%
  );
}

.process__subtitle {
  margin-bottom: 30px;
  text-align: center;
}

.process__description {
  text-align: center;
}

.process__button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 170%);
  &:hover {
    transform: translate(-50%, 170%) scale(1.1);
  }
}
