.tariff__section {
  padding: 0 0 0;
  position: relative;
}

.tariff__dots--blue {
  top: auto;
  bottom: -30px;
  transform-origin: top right;
  border-color: var(--accent-color);
}

.tariff__dots--gradient {
  background: linear-gradient(
    to right,
    transparent,
    var(--primary-background-color)
  );
}

.tariff__container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  transform-origin: top right;
}

.tariff__card {
  background-color: var(--secondary-background-color);
  width: calc(100% / 3);
  border-radius: 32px;
  color: var(--primary-text-color);
  transition: color var(--timing-function),
    background-color var(--timing-function);

  transition: transform var(--timing-function),
    background-color var(--timing-function);
}

.tariff__card--white {
  background-color: var(--white-color);
  color: var(--secondary-background-color);

  & .tariff__dots {
    border-color: var(--secondary-background-color);
  }
}

.tariff__card--padding {
  box-sizing: border-box;
  padding: 45px 0px 60px;

  min-height: 400px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 30px;
}

.tariff__subtitle {
  font-size: 20px;
  gap: 30px;
  text-align: center;
}

.tariff__dots {
  margin: 40px 0;
  width: 100%;
  border-bottom: 10px dotted var(--primary-text-color);
  transition: border var(--timing-function);
}

.tariff__description {
  color: inherit;
  text-align: center;

  padding: 0 60px;
  font-size: 16px;
}

.tariff__price {
  color: inherit;
  font-size: 20px;
  line-height: 1.25;

  text-align: center;
}

.tariff__card--bottom {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
}

.tariff__card:hover {
  transform: scale(1.03);
}

.tariff__button--accent {
  &:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}
