.use__section {
  padding: calc(5% + 120px) 0 200px;
}

.use__title {
  margin-bottom: 30px;
}

.use__description {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 60px;
}

h1 {
  font-size: 48px;
  color: #232c3d;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

.tab-button {
  border: none;
  box-sizing: border-box;
  background-color: var(--primary-background-color);
  margin-bottom: 0;
  color: var(--primary-text-color);
  text-align: left;
  padding-bottom: 10px;
  transition: color var(--timing-function), border var(--timing-function);

  cursor: pointer;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.tab-button:hover {
  color: var(--accent-color);
}

.tab-button.active {
  color: var(--accent-color);
  border-bottom: 3px solid var(--accent-color);
  margin-bottom: -3px;
}

.content {
  display: none;
  padding: 60px 0 0;
}

.use__content {
  min-height: 450px;
  display: flex;
  gap: 90px;
  justify-content: space-between;
  align-items: center;
}

.content.active {
  display: block;
}

.use__subtitle {
  margin-bottom: 30px;
}

.use__image {
  position: relative;
}

.use-image-1 {
  position: absolute;
  top: 0;
  left: 0;
}

.use-image-2 {
  position: absolute;
  top: 0;
  left: 0;

  transition: transform var(--timing-function);
}

.use__image:hover .use-image-2 {
  transform: scale(1.03);
}
