.skew-container--top {
  margin-top: 60px;
  transform-origin: top right;
}

.works__container {
  padding: 0 120px;
}

.works__section {
  padding: calc(10% + 30px) 0;
}

.works__video {
  margin-bottom: 30px;
}

.works__dots--gradient {
  background: linear-gradient(
    to right,
    var(--primary-background-color) 16%,
    transparent 16%,
    transparent 84%,
    var(--primary-background-color) 84%
  );
}

@media screen and (max-width: 767px) {
  .works__container {
    padding: 30px;
  }
  .skew-container--top {
    margin-top: 20px;
  }

  .skew-container--top {
    gap: 30px;
  }
}
