.dots-wrapper {
  padding: 0 5px;
}

.dots {
  width: 100%;
  position: absolute;
  bottom: 15px;
  /* opacity: 0.5; */

  transform: rotate(-5.55deg);
  transform-origin: top left;
  border-bottom: 10px dotted var(--primary-text-color);
}

.dots--gradient {
  width: 100%;
  position: absolute;
  background: linear-gradient(
    to right,
    transparent,
    var(--secondary-background-color)
  );
  height: 10px;
}

.primary-button {
  font-weight: 600;
  font-size: 16px;
  color: var(--white-color);
  background-color: var(--button-bcg-color);
  // text-transform: uppercase;
  padding: 12px 36px;
  border-radius: 50px;
  white-space: nowrap;

  transition: color var(--timing-function),
    background-color var(--timing-function), box-shadow var(--timing-function),
    transform var(--timing-function);

  box-shadow: var(--buttons-box-shadow);

  &:hover {
    color: var(--secondary-background-color);
    background-color: #ebf7ff;

    box-shadow: var(--buttons-box-shadow);

    transform: scale(1.05);
  }

  &:focus {
    background-color: var(--primary-background-color);
    color: var(--accent-color);
  }

  &:active {
    box-shadow: var(--buttons-box-shadow);
  }
}

.primary-button--accent {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.skew-container {
  transform: skew(0deg, -5.55deg);
}

.unskew-container {
  transform: skew(0deg, 5.55deg);
}

.main-text {
  font-size: 18px;
  line-height: 1.4;
  color: var(--primary-text-color);
}

.section-title {
  color: var(--accent-color);

  font-weight: 600;
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 30px;
  text-align: center;
}

.section-subtitle {
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 600;

  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.main-text--mb30 {
  margin-bottom: 30px;
}

.section-subtitle--white {
  color: var(--primary-text-color);
}
